@font-face {
  font-family: "Questrial";
  font-style: normal;
  src:
    local('Questrial'),
    local('Questrial-Regular'),
    url(../fonts/questrial.tff) format('truetype');
}

body {
  font-family: Arial;
  font-size: 10pt;
  margin: 0px;
  font-weight: 200;
  padding: 0;
  line-height: 1.6
}

bigname {
  font-family: Questrial, Arial;
  font-size: 30pt
}

info {
  font-weight: bold
}

contact {
  float: right;
  font-size: 8pt;
  line-height: 1.2;
  width: 120px
}

img {
  width: 32px
}

border {
  float: left;
  margin-left: -56px;
  margin-top: 16px
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  /*
  text-align-last: justify;
  max-width: 530px;
  */
}

.hidden {
  display: none;
}

.bigMargin {
  margin-left: 1.3in;
  margin-right: 0.7in
}
